﻿@model mymsacs.Models.DegreeRequirement

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>DegreeRequirement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DegreeRequirementId" />
            <div class="form-group">
                <label asp-for="DegreeId" class="control-label"></label>
                <select asp-for="DegreeId" class="form-control" asp-items="ViewBag.DegreeId"></select>
                <span asp-validation-for="DegreeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementNumber" class="control-label"></label>
                <input asp-for="RequirementNumber" class="form-control" />
                <span asp-validation-for="RequirementNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementAbbrev" class="control-label"></label>
                <input asp-for="RequirementAbbrev" class="form-control" />
                <span asp-validation-for="RequirementAbbrev" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequirementName" class="control-label"></label>
                <input asp-for="RequirementName" class="form-control" />
                <span asp-validation-for="RequirementName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
