﻿@model IEnumerable<mymsacs.Models.DegreeRequirement>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RequirementNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementAbbrev)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequirementName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Degree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementAbbrev)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RequirementName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Degree.DegreeAbbrev)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.DegreeRequirementId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.DegreeRequirementId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.DegreeRequirementId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
